* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-size: 18px;
	font-family: arial, helvetica, sans-serif;
	line-height: 1.5em;

}

h1 {
	text-align: right;
	background-color: #000000;
	color: white;

}
nav {
	
	float:left;
	width:25%;
}
nav a {
	background-color: #aaaaaa;
	color:#fff;
	display:block;
	margin:1em;
	padding:1em;
	text-decoration:none;
}
div.cakes {
	border-radius: 25px;
	background-color: #DDA0DD;
	color: #000000;
	text-align: center;
	margin: 20px;
	padding: 20px;

}
#gallery img {
	float:left;
	width:16.66%;
}
