* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: url("http://i.imgur.com/O2MXdap.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	color: black;
	font-family: sans-serif;
	text-align: center;
}
h1 {
	font-weight: bold;
}
hr {
	width: 300px;
}
#second {
	font-style: italic;
}
